[submodule "OpenMRNIDF"]
	path = OpenMRNIDF
	url = git@github.com:atanisoft/OpenMRNIDF.git
[submodule "BBBCommandStationOpenMRN/httpd"]
	path = BBBCommandStationOpenMRN/httpd
	url = git@github.com:RobertPHeller/openmrn-httpd.git
